body {
    margin: 0 0 0 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(238, 234, 234); 
}

header{
    display: flex;
    justify-content: space-between;
    font-weight: bold; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #d3af96;
    border-radius: 15px;
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
    border-radius: 30px;
    height: 100%; 
    z-index: 10;
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 6em;

}

header .cart{ 
    display: auto;
   padding-left: 5px;
    width: 10%;
    height: 100%;
    z-index: 9999; 
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    align-self: flex-start;
    
}
header .cart img{

    width: 100%;
    height: 100%;
    object-fit: cover; 
}


header .booksstore:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    
}
  
#shop-wrapper tr td#shop-menu {
    width: 292px;
    vertical-align: top;
}

#shop-wrapper tr td#shop-content {
    width: 292;
    vertical-align: top;
}
.search-container {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #f8f9fa;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
}

button[type="submit"]:hover {
    background-color: #ddd;
}

#adv {
    background-image: url('https://clipart-library.com/images/6cr5qeBdi.jpg');
    height: 190px;
    width: 86%;
    background-size: cover;
    background-position: center;
    border-radius: 45px;
    animation: slideBackground 10s linear infinite alternate;
}
#shp{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    color: #242322;
    border-radius: 15px;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
    border-radius: 30px;
    height: 50px;
    font-size: 36px;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes slideBackground {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right bottom;
    }
}

.book {
    background-image: url(d79e1770abbdc10387ad07b460c50b65.jpg);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
    align-items: center;
    justify-content: center; 
    margin-bottom: 20px;
    margin-inline-start: 20px;
    background-color: #fff;

    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    float: left;
    max-width: max-content;
}

.book img {
    border-radius: 15px;
    width: 100%; 
    max-width: 200px; 
    margin-right: 10px;
}

.book a {
    color: #aca34f; 
    text-decoration: none; 
    font-weight: bold; 
    font-family: Arial, sans-serif; 
    transition: color 0.3s;
}

.book a:hover {
    color: #000000; 
}

.buy-link {
    color: #ff0000;                                
    background-color: #e1ee69c0;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.book a::after {
    content: '\2192'; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.book a:hover::after {
    opacity: 1;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.buy-link:hover {
    background-color: #e4f742; 
    color: #ffffff; 
}

#menu-block {
    background-image: url(d79e1770abbdc10387ad07b460c50b65.jpg);
    color: #000000; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Bradley Hand, cursive';
    color: #000000;
    font-size: 20px;
}

#menu-block label {
    display: block;
    margin-bottom: 10px;
}

#menu-block select, #menu-block input[type="checkbox"], #menu-block input[type="radio"], #menu-block input[list] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 30px;
    box-sizing: border-box;
    
}

#menu-block input[type="checkbox"], #menu-block input[type="radio"] {
width: auto;
}

.ad-container {
    display: flex;
    
    justify-content: space-between;
    margin-top: 20px;
}

.ad-block {
    
    width: calc(100% - 10px);
    height: 400px;
    
    background-color: #9b9b9bc2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;


}
.reviews {
    display: flex;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory; 
    white-space: nowrap; 
    
}

.review {
    flex: 0 0 auto; 
    margin-right: 20px;
    border-radius: 15px;
    background-color: #f7f0cf; 
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
   border: 2px solid #ffffff;
   
}

.review h3 {
    color: #ce3737;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.review p {
    color: #000000;
    font-size: 1em;
    line-height: 1.5;
}


@media screen and (max-width: 768px) {
    .review {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 800px) {
    .review {
        flex-basis: calc(100% - 20px);
    }
}

.footer {
    background-color: #333; 
    color: #fff; 
    padding: 50px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact {
    margin-top: 20px;
}

.contact span {
    display: block;
    margin-bottom: 10px;
}

.socials a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links ul li a {
    color: #fff;
    text-decoration: none;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #fff;
}


@media screen and (max-width: 440px) {
    header{
        flex-direction: column;
    }
    header .item{
    
        
    }
    header .booksstore{
    
    }
    
    header .cart{
        
    }

    .footer-section {
        margin-bottom: 30px;
        grid-template-columns: auto;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 440px) {
    
}